@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Fira+Sans:wght@500&family=Noto+Sans+Chakma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root{
    --white: #ffffff;
    --red: #E50914;
    --grey: #939393ec;
    --orange: #E7792B;
    --black: #0E0C0D;
    --black-header: linear-gradient(to bottom, hsl(0, 0%, 4%), hsla(0, 0%, 4%, 0.007));

    --graramond: 'EB Garamond', serif;
    --fira: 'Fira Sans', sans-serif;
    --noto: 'Noto Sans Chakma', sans-serif;
    --roboto: 'Roboto Mono', monospace;
}

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--black)
}
/* Header of the page*/
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: var(--black-header);
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px  ;
    z-index: 10;
}

.header__right, .header__left{
    display: flex;
    align-items: center;
}

.header__link{
    font-family: var(--noto);
    color: var(--white);
    margin-left: 15px;
    text-decoration: none;
    align-content: center;
}

.header__text{
    padding-bottom: 5px;
}

.header__search, .header__notifications{
    height: 20px;
}

.header__logo{
    height: 50px;
    margin-right: 20px;
}

@media screen and (min-width: 1440px) {
    header{
        height: 70px;
    }

    .header__link{
        margin-left: 20px;
    }
    .header__text{
        font-size: 18px;
    }
    .header__search, .header__notifications{
        height: 25px;
    }
    .header__logo{
        height: 70px;
    }
}
/* Card master */


.background__principal{
    position: absolute;
    width: 100%;
    height: 60vh;
    background-image: url("../img/imagens-extraidas/card__image--master.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__master--text{
    padding: 0px 0px 50px 50px;

}



.main__image--text{
    width: 35vw;
}

.main__top{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

/* Quadrado vermelho de TOP 10 e seu texto interno */

.main__top--square{ 
    background-color: var(--red);
    width: 30px;
    height: 30px;
    line-height: 12px;
    box-shadow: 1px 1px 1px 1px rgba(31, 31, 31, 0.514);
    border-radius: 3px;
}
.main__top--text1{
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--fira);
    padding-top: 3px;
    letter-spacing: 1px;
}
.main__top--text2{
    font-size: 18px;
    font-weight: bolder;
    font-family: var(--fira);
    text-align: center;
    padding-right: 2px;
}

.main__top--text{
    font-size: 25px;
    padding-left: 30px;
    color: var(--white);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
    font-family: var(--fira);
}

.main__master--description{
    color: var(--white);
    font-family: var(--fira);
    width: 40vw;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.678);
    font-size: 1.4vw;
}

.main__buttons{
    display: flex;
    width: 95vw;
    justify-content: space-between;
}

.main__button{
    padding: 10px 40px;
    font-family: var(--fira);
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 4px;
    margin: 20px 10px 0px 0px;
    box-shadow: 3px 3px 3px #86868628;
    display: inline-flex;
    align-items: center;
}


.main__button--info{
    background-color: #86868693;
    color: var(--white);
}

.icone__button{
    width: 30px;
    margin-right: 15px;
    display: inline-block;
}
/* Indicador da Faixa Etária indicada */

.rating__box{
    width: 100px;
    height: 40px;
    background-color: #00000073;
}

.white__line{
    display: block;
    width: 3px;
    background-color: #ffffff;
    height: 100;
}

.rating__square{
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px 15px;
    background-color: var(--orange);
    border-radius: 4px;

}

.rating__text{
    color: var(--white);
    text-align: center;
    padding: 5px 0px 0px 2px;
    font-weight: 500;
    font-family: var(--fira);
    font-size: 22px;
}
@media screen and (min-width: 1440px) {
    .card__master{
        bottom: 90px;
    }
    .main__master--text{
        padding: 20px 0px 150px 70px;
    }
    .main__top{
        padding: 15px 0px;
    }
    .main__top--square{
        width: 40px;
        height: 40px;
        line-height: 17px;
        border-radius: 6px;
    }
    .main__top--text1{
        font-size: 15px;
    }
    .main__top--text2{
        font-size: 27px;
    }
    .main__button{
        padding: 15px 40px;
        font-size: 1.3em;
    }
    .rating__box{
        width: 110px;
        position: relative;
        left: 9px;
    }
}
/* Estilização dos carroséis */
.carrossel{
    margin: 0px 0px 0px 50px;
}
.title__carrossel{
    color: var(--white);
    font-family: var(--noto);
    text-shadow: 2px 2px 2px var(--black);
    font-weight: bold;
    font-size: 1.4vw;
    padding: 40px 0px 10px 0px;
    z-index: 3;
    position: relative;
}

.carrossel__imagens{
    display: flex;
    flex-direction: row;
    overflow-inline: hidden;
    z-index: 3;
    position: relative;
    height: 130px;
}
.carrossel__imagem{
    height: 130px;
    width: 250px;
    margin-right: 5px;
    z-index: 3;
    position: relative;
    box-shadow: 3px 3px 3px #0000008f;
    border-radius: 2px;
    transition: 0.6s all;
}


.carrossel__imagens--top{
    display: flex;
    flex-direction: row;
    height: 200px;
    overflow: hidden;
}

.carrossel__imagem--top{
    width: 250px;
    margin-right: 10px;
    z-index: 2;
}

.top__number{
    color: var(#000000);
    font-size: 17em;
    position: relative;
    bottom: 87px;
    -webkit-text-stroke: 4px gray;
    left: 55px;
    z-index: 1;
    font-weight: bolder;
    font-family: var(--roboto) ;
}

@media screen and (min-width: 1440px) {
    .carrossel__imagem{
        height: 180px;
        width: 380px;
    }
    .carrossel__imagens--top{
        height: 240px;
    }
    .carrossel__imagem--top{
        margin-right: 0px;
    }
    .top__number{
        font-size: 20.2em;
        bottom: 103px;
        left: 70px;
    }
}

.footer{
    margin: 150px 150px 50px 150px;
}

.media{
    display: flex;
    list-style-type: none;
}

.media__image{
    width: 30px;
    margin-left: 30px;
    background-color: none;;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.footer__link{
    list-style-type: none;
    text-decoration: none;
    color: var(--grey) ;
}

.footer__button{
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--grey);
    color: var(--grey);
    margin: 0px 0px 20px 20px;
    cursor: pointer;
}

.footer__text{
    color: var(--grey);
    margin: 0px 0px 20px 20px;
    padding-bottom: 30px;
}

.previous{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    margin-top: 17px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: 0.6s all;
}

.next{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    margin-top: 17px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: 0.6s all;
}

.carrossel__seta{
    transition: 0.6s all;
}

.previous:hover , .next:hover{
    background-color: #00000060;
    width: 50px;
}
.carrossel__seta:hover{
    transform: scale(1.3);
}

.carrossel__imagem:hover {
    transform: scale(1.1);
}